.Left{
  text-align: left; 
}
.Left button{
  float: right;
}
.Right{
  text-align: right;
}
.Right button{
  float: left;
}
.HalfScreenText {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 100vh;
  padding: 20vh 8vw;
}