.Left{
  text-align: left; 
  button{
    float: right;
  }
} 
.Right{
  text-align: right;
  button{
    float: left;
  }
}
.HalfScreenText {
  box-sizing: border-box;
  height: 100vh;
  padding: 15vh 8vw;
  @media (min-width: 1200px){
    min-width: 50%;
  }
}
