.TopBar{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 20px 8vw;
  width: 100%;
  background: rgba(255,255,255,.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: $lg){
    padding: 20px 80px;
  }
  .Menu{
    flex-grow: 1;
  }
}
.Logo{
  height: 50px;
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  display:none;
  cursor: pointer;
  user-select:none;
}

/* custom-dropdown */
.Menu {
  position:relative;
  width: 100%;
  ul {
    padding: 0;  
    margin: 0 auto;  
    width:100%;
    list-style:none;
    display: flex;
    justify-content: flex-end;
  }
}

/* small screens */
@media screen and (max-width: $sm) {

  .Menu {
    ul {
      display:none;
    }

    label {
      display:block;
      min-height:2.25em;
      padding:.45em;
      font-size:1.1em;
      margin:0;
    }
    
    label:after {
      position: absolute;
      right: .25em;  
      top: 0; 
      content:"\2261";
      font-size:1.8em;
      color: #888;
    }
        
    input[type=checkbox]:checked ~ ul {
      display:block;
      position: fixed;
      background-color: rgba(255,255,255,.9);
      width: 100vw;
      left: 0;
      top: 94px;
      padding-bottom: 30px;
      > li {
        width:100%;
        text-align:left;
        padding: 5px 15px;
      }        
    }
  }
}