.Menu{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  background: rgba(255,255,255,.9);
}
.Logo{
  height: 50px;
}